<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Home - <%= app_name %></title>
	<link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
	<nav class="nav-bar clearfix">
		<ul class="left-tabs">
			<li class="active">Web clips</li>
			<li>Text</li>
		</ul>
		<ul class="right-tabs">
			<li class="nav-dropdown-link">
				<span class="glyphicon glyphicon-user"></span> Viraj Chitnis
			</li>
		</ul>
	</nav>
	<br><br><br>
	<div id="web-clips-body" class="container">
		<div class="panel directory">
			<h3 class="clearfix"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Directory 1 <button type="submit" class="btn-sm float-right no-top-margin add-button"><span class="glyphicon glyphicon-plus"></span></button></h3>
			<hr>
			<ul>
				<li class="clearfix">
					<div class="link-bullet">
						<p><span class="glyphicon glyphicon-link"></span></p>
					</div>
					<div class="link-content clearfix">
						<button type="submit" class="btn-sm float-right no-top-margin"><span class="glyphicon glyphicon-trash"></span></button>
						<h4>Title of website</h4>
						<p>http://www.loremipsum.com/dolor/ets</p>
					</div>
				</li>
				<li class="clearfix">
					<div class="link-bullet">
						<p><span class="glyphicon glyphicon-link"></span></p>
					</div>
					<div class="link-content clearfix">
						<button type="submit" class="btn-sm float-right no-top-margin"><span class="glyphicon glyphicon-trash"></span></button>
						<h4>Title of website</h4>
						<p>http://www.loremipsum.com/dolor/ets</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel directory">
			<h3 class="clearfix"><span class="glyphicon glyphicon-folder-open"></span>&nbsp; Directory 2 <button type="submit" class="btn-sm float-right no-top-margin add-button"><span class="glyphicon glyphicon-plus"></span></button></h3>
			<hr>
		</div>
	</div>
</body>
</html>
