<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Login - <%= app_name %></title>
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<div id="main-body">
		<div id="login-panel" class="vertical-center panel clearfix">
			<div class="panel-heading">
				<h3>Login</h3>
			</div>
			<label class="form-label">Email</label>
			<input class="form-control" type="email" placeholder="Enter email">
			<label class="form-label">Password</label>
			<input class="form-control" type="password" placeholder="Enter password">
			<button type="submit" class="btn float-right">Login</button>
		</div>
	</div>
</body>
</html>
